<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopControl</servlet-name>
        <servlet-class>controller.ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailControl</servlet-name>
        <servlet-class>controller.DetailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreUniqloControl</servlet-name>
        <servlet-class>controller.LoadMoreUniqloControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreBooControl</servlet-name>
        <servlet-class>controller.LoadMoreBooControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryShopControl</servlet-name>
        <servlet-class>controller.CategoryShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxShop</servlet-name>
        <servlet-class>controller.SearchByAjaxShop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPriceMinToMaxShopControl</servlet-name>
        <servlet-class>controller.SearchAjaxPriceMinToMaxShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPriceUnder100ShopControl</servlet-name>
        <servlet-class>controller.SearchAjaxPriceUnder100ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPrice100To200ShopControl</servlet-name>
        <servlet-class>controller.SearchAjaxPrice100To200ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxPriceAbove200ShopControl</servlet-name>
        <servlet-class>controller.SearchAjaxPriceAbove200ShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorBlackControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorBlackControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorGrayControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorGrayControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorWhiteControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorWhiteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorYellowControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorYellowControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorGreenControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorGreenControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorBlueControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorBlueControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorBeigeControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorBeigeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAjaxColorBrownControl</servlet-name>
        <servlet-class>controller.SearchAjaxColorBrownControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandShopControl</servlet-name>
        <servlet-class>controller.BrandShopControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>controller.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>controller.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>controller.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCartControl</servlet-name>
        <servlet-class>controller.ManagerCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartControl</servlet-name>
        <servlet-class>controller.AddCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalMoneyCartControl</servlet-name>
        <servlet-class>controller.TotalMoneyCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAmountCartControl</servlet-name>
        <servlet-class>controller.LoadAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubAmountCartControl</servlet-name>
        <servlet-class>controller.SubAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAmountCartControl</servlet-name>
        <servlet-class>controller.AddAmountCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartControl</servlet-name>
        <servlet-class>controller.DeleteCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileControl</servlet-name>
        <servlet-class>controller.EditProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControl</servlet-name>
        <servlet-class>controller.OrderControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <servlet-class>controller.ForgotPasswordControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticControl</servlet-name>
        <servlet-class>controller.StatisticControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReviewControl</servlet-name>
        <servlet-class>controller.AddReviewControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoanhThuTheoThuControl</servlet-name>
        <servlet-class>controller.DoanhThuTheoThuControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoanhThuTheoThangControl</servlet-name>
        <servlet-class>controller.DoanhThuTheoThangControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HoaDonControl</servlet-name>
        <servlet-class>controller.HoaDonControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAccountControl</servlet-name>
        <servlet-class>controller.ManagerAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>controller.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top10SanPhamControl</servlet-name>
        <servlet-class>controller.Top10SanPhamControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top5KhachHangControl</servlet-name>
        <servlet-class>controller.Top5KhachHangControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Top5NhanVienControl</servlet-name>
        <servlet-class>controller.Top5NhanVienControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxHoaDon</servlet-name>
        <servlet-class>controller.SearchByAjaxHoaDon</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccountControl</servlet-name>
        <servlet-class>controller.AddAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountControl</servlet-name>
        <servlet-class>controller.DeleteAccountControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddControl</servlet-name>
        <servlet-class>controller.AddControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>controller.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>controller.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>controller.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl1</servlet-name>
        <servlet-class>controller.ManagerControl1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailInvoiceControl</servlet-name>
        <servlet-class>controller.DetailInvoiceControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryControl</servlet-name>
        <servlet-class>controller.HistoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailInvoiceControl1</servlet-name>
        <servlet-class>controller.DetailInvoiceControl1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add1Control</servlet-name>
        <servlet-class>controller.Add1Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete1Control</servlet-name>
        <servlet-class>controller.Delete1Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Load1Control</servlet-name>
        <servlet-class>controller.Load1Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit1Control</servlet-name>
        <servlet-class>controller.Edit1Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjaxHoaDon1</servlet-name>
        <servlet-class>controller.SearchByAjaxHoaDon1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopControl</servlet-name>
        <url-pattern>/shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailControl</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreUniqloControl</servlet-name>
        <url-pattern>/loadUniqlo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreBooControl</servlet-name>
        <url-pattern>/loadBoo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryShopControl</servlet-name>
        <url-pattern>/categoryShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjaxShop</servlet-name>
        <url-pattern>/searchAjaxShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxPriceMinToMaxShopControl</servlet-name>
        <url-pattern>/searchAjaxPriceMinToMax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxPriceUnder100ShopControl</servlet-name>
        <url-pattern>/searchAjaxPriceUnder100Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxPrice100To200ShopControl</servlet-name>
        <url-pattern>/searchAjaxPrice100To200Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxPriceAbove200ShopControl</servlet-name>
        <url-pattern>/searchAjaxPriceAbove200Shop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorBlackControl</servlet-name>
        <url-pattern>/searchAjaxColorBlack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorGrayControl</servlet-name>
        <url-pattern>/searchAjaxColorGray</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorWhiteControl</servlet-name>
        <url-pattern>/searchAjaxColorWhite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorYellowControl</servlet-name>
        <url-pattern>/searchAjaxColorYellow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorGreenControl</servlet-name>
        <url-pattern>/searchAjaxColorGreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorBlueControl</servlet-name>
        <url-pattern>/searchAjaxColorBlue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorBeigeControl</servlet-name>
        <url-pattern>/searchAjaxColorBeige</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAjaxColorBrownControl</servlet-name>
        <url-pattern>/searchAjaxColorBrown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandShopControl</servlet-name>
        <url-pattern>/brandShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCartControl</servlet-name>
        <url-pattern>/managerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartControl</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalMoneyCartControl</servlet-name>
        <url-pattern>/totalMoneyCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAmountCartControl</servlet-name>
        <url-pattern>/loadAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubAmountCartControl</servlet-name>
        <url-pattern>/subAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAmountCartControl</servlet-name>
        <url-pattern>/addAmountCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartControl</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileControl</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControl</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordControl</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticControl</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReviewControl</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoanhThuTheoThuControl</servlet-name>
        <url-pattern>/doanhThuTheoThu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoanhThuTheoThangControl</servlet-name>
        <url-pattern>/doanhThuTheoThang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HoaDonControl</servlet-name>
        <url-pattern>/hoaDon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAccountControl</servlet-name>
        <url-pattern>/managerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top10SanPhamControl</servlet-name>
        <url-pattern>/top10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top5KhachHangControl</servlet-name>
        <url-pattern>/top5khachhang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Top5NhanVienControl</servlet-name>
        <url-pattern>/top5nhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjaxHoaDon</servlet-name>
        <url-pattern>/searchAjaxHoaDon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccountControl</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountControl</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddControl</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl1</servlet-name>
        <url-pattern>/manager1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailInvoiceControl</servlet-name>
        <url-pattern>/detailInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryControl</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailInvoiceControl1</servlet-name>
        <url-pattern>/detailInvoice1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add1Control</servlet-name>
        <url-pattern>/add1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete1Control</servlet-name>
        <url-pattern>/delete1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Load1Control</servlet-name>
        <url-pattern>/loadProduct1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit1Control</servlet-name>
        <url-pattern>/edit1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjaxHoaDon1</servlet-name>
        <url-pattern>/searchAjaxHoaDon1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
